body {
    background-color: purple;
    display: flex;
}

.container {
    display: flex;
    
    justify-content: space-between;
    background-color: purple;
    padding: 10px;
    width: 100%;
}

.box {
    width: 45%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
}


@media only screen and (max-width: 932px) {
    body{
        background-color: wheat;

    }
    .container{
        background-color: aqua;
        flex-direction: column;
  }
}
